@model List<高级java大作业.Models.QuestionnaireModel>
@{
    ViewBag.Title = "RegisterView";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Css/User/Register.css" rel="stylesheet" />


<div id="head">&nbsp;</div>

<h1 id="iH1">注册</h1>
<div class="layui-elem-quote" style="margin-top: 20px;width:60%;margin:auto;margin-bottom:20px;">
    <p style="text-align:center">请用户如实填写！</p>
</div>
<form class="layui-form iForm" action="/Home/Register" method="post">
    
    <div class="layui-form-item iDiv">
        <label class="layui-form-label iLabel">账&nbsp;号:</label>
        <div class="layui-input-inline">
            <input type="text"  name="user[Account]"placeholder="请输入账号" required lay-verify="required|account"  autocomplete="off" class="layui-input input">
        </div>
    </div>
    <div class="layui-form-item iDiv">
        <label class="layui-form-label iLabel">用户名:</label>
        <div class="layui-input-inline">
            <input type="text"  name="user[UserName]"placeholder="请输入用户名" required lay-verify="required|username" autocomplete="off" class="layui-input input">
        </div>
    </div>
    <div class="layui-form-item iDiv">
        <label class="layui-form-label iLabel">密&nbsp;码:</label>
        <div class="layui-input-inline">
            <input type="password" id="pass" name="user[Password]"placeholder="请输入密码" required lay-verify="required|password"  autocomplete="off" class="layui-input input">
        </div>
    </div>
    <div class="layui-form-item iDiv">
        <label class="layui-form-label iLabel">确认密码:</label>
        <div class="layui-input-inline">
            <input type="password"  required lay-verify="required|checkPassword"placeholder="请再次输入密码"  autocomplete="off" class="layui-input input">
        </div>
    </div>
    <div class="layui-inline iDiv">
        <label class="layui-form-label iLabel">手机号:</label>
        <div class="layui-input-inline">
            <input type="tel" name="user[Tel]" placeholder="请输入电话" lay-verify="required|phone" autocomplete="off" class="layui-input input">
        </div>
    </div>
    <div class="layui-form-item iDiv">
        <label class="layui-form-label iLabel">性别：</label>
        <div class="layui-input-block">
            <input type="radio" name="user[Gender]"lay-verify="required" value="true" title="男" checked="">
            <input type="radio" name="user[Gender]" lay-verify="required"value="false" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
    

    <div id="foot">&nbsp;</div>
    <script src="~/Js/jquery.min.js"></script>
    <script src="~/Js/bootstrap.min.js"></script>
    <script src="~/layui/layui.js"></script>
    
    <script src="~/Js/Register.js"></script>