body {
}
#head{
    height:80px;
    width:100%;
    background-color:#393D49;
    margin-bottom:50px;
}
.iForm{
    width:70%;
    margin:auto;
}
.iLabel{
    width:100px;
    text-align:center;
    margin:auto;
}
.input{
    width:450px;
    margin-left:20px;
    height:45px;
}
.answer{
    width:450px;
    margin-left:20px;
    height:30px;
}
.iQuestion{
    display:inline-block;
}
.iAnswer{
    display:inline-block;
}
#foot{
    height:160px;
    width:100%;
    margin:50px;
}
.ques{
    padding:20px;
    border:1px solid;
    margin-bottom:5px;
}