body {
    background-color:#fbfbfb
}

.iDiv {
    width: 60%;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}

form {
    width: 60%;
    margin: auto;
    text-align: center;
}

.iBtn {
    display: inline-block;
}

#head {
    height: 80px;
    width: 100%;
    background-color: #393D49;
    margin-bottom: 50px;
}

#foot {
    height: 160px;
    width: 100%;
    margin: 50px;
}

.Navigation {
    display: inline-block;
    margin-left: 15%;
}

.showList {
    width: 60%;
    margin: auto;
    text-align:center;
}

.questionnaire {
    color: grey;
    padding: 10px;
    box-shadow: 1px 1px 3px #c2c2c2;
    max-width: 800px;
    margin-bottom: 20px;
    margin: auto;
}

.questionnaireTitle {
    font-size: 20px;
}

    .questionnaireTitle:hover {
        color: #5FB878;
    }


#serchMode{
    display:inline-block;
    width:99px;
}
